<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Pet Shop Management System</display-name>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>RegisterServlet</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/dispAPet.jsp</welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>/dispUPet.jsp</welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>/dispAppA.jsp</welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>/dispAppU.jsp</welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>/dispServiceA.jsp</welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>/dispServiceU.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <servlet-name>APetServlet</servlet-name>
        <servlet-class>servlet.APetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>APetServlet</servlet-name>
        <url-pattern>/APetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <servlet-name>UPetServlet</servlet-name>
        <servlet-class>servlet.UPetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UPetServlet</servlet-name>
        <url-pattern>/UPetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>AppointmentServletA</servlet-name>
        <servlet-class>servlet.AppointmentServletA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppointmentServletA</servlet-name>
        <url-pattern>/AppointmentServletA</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AppointmentServletU</servlet-name>
        <servlet-class>servlet.AppointmentServletU</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppointmentServletU</servlet-name>
        <url-pattern>/AppointmentServletU</url-pattern>
    </servlet-mapping> 
    <servlet>
        <description/>
        <servlet-name>AServiceServlet</servlet-name>
        <servlet-class>servlet.AServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AServiceServlet</servlet-name>
        <url-pattern>/AServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <servlet-name>UServiceServlet</servlet-name>
        <servlet-class>servlet.UServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UServiceServlet</servlet-name>
        <url-pattern>/UServiceServlet</url-pattern>
    </servlet-mapping>  
</web-app>
